NODE_ENV="{development / production}"
URL="localhost:3000"
API="{https://api_url/api/v1/}"
AWS_BUCKET="{public link to s3 bucket (must inc. https://)}"

# sendgrid
SENDGRID_SECRET_KEY="{sendgrid api key}"
SENDGRID_EMAIL_CONTACT_CLIENT="{dynamic template id - sends to Johann }"
SENDGRID_EMAIL_MESSAGER="{dynamic template id - sends to enquirer }"

# client - used in emails
CLIENT_NAME="{Johann}"
CLIENT_EMAIL="{johann's email address}"
CLIENT_WEBSITE="{url of johann's website (must inc. https://)}"