# environment
NODE_ENV=  # development / staging / production
URL=

# storage
AWS_BUCKET=
S3_ACCESS_KEY_ID=
S3_ACCESS_KEY=
S3_BUCKET_NAME=

# data
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MSG_SENDER_ID=
FIREBASE_APP_ID=

# firebase admin ( for auth )
FIREBASE_ADMIN_PRIVATE_KEY=
FIREBASE_ADMIN_CLIENT_EMAIL=

# sendgrid
SENDGRID_SECRET_KEY=
SENDGRID_EMAIL_CONTACT_CLIENT=
SENDGRID_EMAIL_MESSAGER=

# client
CLIENT_NAME=
CLIENT_EMAIL=
CLIENT_WEBSITE=