$white: rgb(255, 255, 255);
$black: rgb(22, 27, 29);
$darkgrey: rgb(37, 37, 37);
$midgrey: rgba(37,37,37, 0.8);
$lightgrey: rgba(0,0,0,0.4);
$darkred: rgb(146, 27, 27);
$lightred: rgba(146, 27, 27, 0.8);
$darkgreen: rgb(30, 110, 113);
$lightgreen: rgba(30, 110, 113, 0.8);
$yellow: rgba(176, 148, 47, 0.8);