form {

    width: 100%;
    display: flex;
    flex-direction: column;

    fieldset {
        margin: 20pt 0;
    }

    label {
        width: 100%;
        margin-top: 40px;
    }

    input,
    .input,
    select,
    textarea {
        width: 100%;
        padding: 7px 7px 4px;
        border: 1px solid $black;
        margin: 4px 0;
        border-radius: 0;
    }

    input:focus,
    input:focus-visible,
    select:focus,
    select:focus-visible,
    textarea:focus,
    textarea:focus-visible {
        outline: none 
    }

    .required {
        color: $darkred;
    }

    button {
        background: $black;
        padding: 7pt 14pt 5pt;
        text-transform: uppercase;
        border-radius: 0;
    }

    .submitContainer { 
        margin: 10pt 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

}