.admin {

    box-sizing: border-box;
    color: #000 !important;
    background: #fff !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: sans-serif;
    min-height: 100vh;
    
    header {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 64pt;
        background: rgb(9, 59, 124);
        color: #fff;

        h1{
            width: 100%;
            text-align: center;
            padding: 10pt 0;
        }

        nav {
            ul {
                list-style: none;
                li {
                    width: 100%;
                    text-align: left;
                    padding: 10pt 5pt;
                    a {
                        color: inherit;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    main {
        width: calc(100% - 64pt);
        margin-left: 64pt;
        padding: 10pt;

        h1 {
            font-size: 20pt;
        }

        form.content-edit {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            
        }

        label{

            margin-top: 10pt;
            width: 100%;
            font-size: 9pt;
            text-transform: uppercase;
            font-style: italic;

            input, 
            textarea {
                display: block;
                width: 50%;
                margin: 2pt 0 10pt;
                padding: 5pt 10pt;
                font-size: 12pt;
                resize: none;
            }
        }

        button {
            padding: 10pt 8pt;
            text-align: center;
            font-size: 12pt;
            color: #000 !important;
            border: none;
            font-size: 12pt;
            background: rgb(9, 59, 124);
            border-radius: 0;
            color: #fff !important;
            font-weight: 500;
        }

        
    }
    
}

.auth {
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://images.unsplash.com/photo-1521927336940-cae6e9f22945?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1024&q=80');
    background-position: center;
    background-size: cover;

    .auth_inner {
        width: 30%;
        min-width: 200pt;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 40pt 10pt;
        color: #000 !important;
        background: rgba(238, 238, 238, 0.5);
        border-radius: 1rem;
        box-shadow: 0 0 30pt rgba(0,0,0,0.1);
        backdrop-filter: blur(2rem);

        @media only screen and ( max-width: 800pt ) {
            width: 80%;
        }   

        h1 {
            font-size: 64pt;
            font-weight: 400;
            margin-bottom: 20pt;
        }

        input,
        button{
            width: 80%;
            margin-top: 10pt;
            padding: 10pt 8pt;
            text-align: center;
            font-size: 12pt;
            color: #000 !important;
            border: none;
        }
        
        input {
            background: none;
            
            &:focus {
                outline: none;
                border-bottom: 1px solid !important;
            }

            &::placeholder {
                font-style: italic;
            }
        }

        button {
            font-size: 12pt;
            background: rgb(9, 59, 124);
            border-radius: 0;
            color: #fff !important;
            font-weight: 500;
        }
    }
}