.eventList {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    li {
        width: 100%;
        border: 5px solid rgb(22, 27, 29) !important;
        padding: 20pt !important;
        margin: 10pt 0 !important;
        cursor: pointer;

        h3 {
            margin-bottom: 10pt !important;
        }
    }

}