@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

@import 'variables';
@import 'menu';

html,
body {
    overflow-x: hidden;
    max-width: 100vw;
    background: $dark;
}

@import 'backgrounds';

.home {
    height: 100vh;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;

    @import 'scrollAnimation';
    
    h1 {
        font-size: 4em;
        letter-spacing: 0.05em;
        position: absolute;
        bottom: $topOrBottom;
        left: $leftOrRight;
        font-weight: 300;
        
        span {
            text-transform: uppercase;
            display: inline-block;
            padding-top: 0.4em;
            font-size: 0.3em;
            vertical-align: top;
            width: 100%;
            text-align: left;
            font-weight: 300;
        }

        @media only screen and (max-width: $MOBILE) {
            font-size: 10vw;
            span {
                font-size: 0.45em;
            }
        }
    }
}

.parallax {
    position: relative;
    width: 100%;
    background-image: none;

    .parallax-title {

        height: auto;
        position: relative;

        h1 {
            font-size: 4em;
            letter-spacing: 0.05em;
            // text-transform: uppercase;
            position: absolute;
            bottom: $topOrBottom;
            left: $leftOrRight;
            font-weight: 300;

            @media only screen and (max-width: $MOBILE) { 
                // font-size: 2.8em;
            }
        }

    }

    &.media {
        .parallax-title {
            height: 50vh;
        }
    }

    .parallax-body {

        min-height: 100vh;

        &.darken {
            margin-top: 50vh;
            padding: 10vh 0;
        }

        &.bio,
        &.events {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 10vh 10vw;
            min-height: 110vh;
        }

        article {
            width: 100%;
            text-align: justify;
            padding: 2em 0;
            columns: 2;
            column-rule: #fff 2px solid;
            column-gap: 4rem;
            font-size: 1.1em;
            letter-spacing: 0.04em;
            line-height: 1.4em;
            position: relative;

            @media only screen and (max-width: $MEDIABREAK) {
                columns: 1;
            }

            p {
                margin-bottom: 2em;
                font-weight: 300;

                em {
                    font-weight: 300;
                    font-style: italic;
                }

                strong {
                    font-weight: 500;
                }
            }

            .skiptocontact {
                padding: 5pt 0;
                width: 50%;
                margin: 0 auto 15pt auto;
                border-bottom: 2px solid #fff;
                text-align: center;
                cursor: pointer;
            }
        }

        .event {

            position: relative;
            width: 300pt;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            margin-bottom: 2em;
            padding: 1em 0;
            font-size: 1.1em;
            letter-spacing: 0.4em;

            @media only screen and (max-width: $MOBILE) {
                width: 100%;
                // background: pink;
            }

            .row{
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between;

                @media only screen and (max-width: $MOBILE) {
                    flex-direction: column-reverse;
                }
                
                header {
                    display: block;
                    font-size: 2em;
                    font-weight: 300;
                    letter-spacing: 0.03em;
                }
    
                time {
                    display: block;
                    font-size: 1em;
                    letter-spacing: 0.2em;
                    padding: 2pt 10pt;
                    text-align: center;
                    text-transform: uppercase;
                    font-weight: 400;

                    @media only screen and (max-width: $MOBILE) {
                        padding: 2pt 0 2em;
                    }
    
                    span {
                        font-size: 1.5em;
                        font-weight: 400;
                    }
                }
            }

            article {
                columns: 1;
                padding: 1.5em 0;
                margin: 0;

                strong {
                    font-weight: 500;
                    font-size: 1.3em;
                }

                p {
                    margin: 0.75em 0;   

                    span.instrument {
                        margin-left: 1ch;
                        font-size: 0.9rem;
                        font-weight: 100;
                    }

                    &.programme.last-item {
                        margin-bottom: 2em;
                    }

                }
                
            }

            a {
                text-transform: lowercase;
                font-style: italic;
                text-decoration: underline;
                font-size: 1.1em;
                letter-spacing: 0.01em;
                font-weight: 300;
            }

            &::after {
                content: "";
                width: 2px;
                height: 100%;
                background: #fff;
                position: absolute;
                top: 0;
                left: -1em;
            }

        }

        &.media {

            padding-bottom: 25vh;

            .pre-gallery {

                &.gallery {
                    height: 75vh;
                    position: relative;
                    width: 180pt;
                    margin-top: -$topOrBottom;
                    left: $leftOrRight;
                    border-right: 2pt solid #fff;
                    border-top: 2pt solid #fff;

                    @media only screen and (max-width: $MEDIABREAK) {
                        width: 120pt;
                    } 

                    &::after {
                        content: "GALLERY";
                    }

                }

                &.videos {
                    height: 50vh;
                    position: relative;
                    width: 50vw;
                    margin-top: 0;
                    left: calc(#{$leftOrRight} + 180pt);
                    border-right: 2pt solid #fff;
                    border-top: 2pt solid #fff;
                    @media only screen and (max-width: $MEDIABREAK){
                        width: 0;
                        left: 90vw;
                        border-top: none;
                    }

                    &::before{
                        position: absolute;
                        bottom: 100%;
                        right: calc(100% - 2pt);
                        height: 32pt;
                        content: "";
                        width: 2pt;
                        // background: red;
                        z-index: 2;
                        border-right: 2pt solid #fff;

                        @media only screen and (max-width: $MEDIABREAK) {
                            height: 30pt;
                        }
                    }

                    &::after {
                        content: "VIDEOS";
                    }

                }

                &::after {
                    color: #fff;
                    font-size: 1.1rem;
                    position: absolute;
                    transform: rotate(270deg);
                    transform-origin: bottom right;
                    bottom: 18ch;
                    right: 5pt;
                    font-weight: 300;
                    letter-spacing: 0.2em;
                }

            }
            
            .carousel {
                // background: lightblue;

                .inner {
                    position: relative;
                    width: 50%;
                    height: calc(200vw / 6);
                    background: $dark;
                    // overflow: hidden;

                    .swiper-navigation {

                        position: absolute;
                        width: 20pt;
                        height: 20pt;
                        top: 50%;
                        z-index: 10;
                        transform: translateY(-50%) rotate(45deg);
                        transition: all 150ms ease;
                        cursor: pointer;

                        &:hover,
                        &:focus {
                            border-color: #aaa !important;
                        }

                        @media only screen and (max-width: $MEDIABREAK) {
                            display: none;
                        }

                        &.swiper-navigation-next {
    
                            left: calc(100% + 5pt);
                            border-top: 2px solid #fff;
                            border-right: 2px solid #fff;
                            
                        }
                        
                        &.swiper-navigation-back {
                            
                            right: calc(100% + 5pt);
                            border-bottom: 2px solid #fff;
                            border-left: 2px solid #fff;
    
                        }

                    }

                    .inner-container {
                        
                        position: relative;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: $dark;

                        &.video {
                            display: block;
                        }
                        
                        img {
                           height: 100%;
                           width: auto;
                        }
                    }

                    a.video-slide {
                        width: 100%;
                        height: 100%;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        text-decoration: none;
                        position: relative;
                        padding: 10pt 20pt;
                        
                        h2,
                        h3 {
                            width: 100%;
                            color: #fff;
                            text-shadow: 1px 1px #000;
                        }

                        h2 {
                            font-weight: 400;
                        }
                        h3 {
                            font-weight: 300;
                        }
                    }


                    &.gallery {
                        margin-left: 15vw;
                    }

                    &.videos {
                        margin-left: 40vw;
                    }
    
                    @media only screen and (max-width: $MEDIABREAK) {
                        width: 100vw;
                        height: calc(200vw / 3);
                        margin-left: 0 !important;
                    }
                }

                .copyright {
                    width: 50vw;
                    position: relative;
                    left: 15vw;
                    // background: red;
                    height: 30pt;

                    @media only screen and (max-width: $MEDIABREAK) {
                        width: 80vw;
                        left: 10vw;
                        padding: 0 1em;
                    }

                    span {
                        // background: pink;
                        width: 100%;
                        display: block;
                        padding-top: 1em;
                        text-align: right;
                        font-size: 0.9em;
                        font-weight: 300;
                        a {
                            text-decoration: none;
                        }
                    }
                }

            }
            
        }

    }

    &.chrome {
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: top right 20%;

        .parallax-title {
            height: 100vh;
        }

        .parallax-body {
            &.darken {
                background: rgba(0,0,0,0.8);
            }
        }
    }

}

.social-media {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;

    svg {
        width: 48px !important;
        height: 48px !important;
        margin: 5px 1rem;
        stroke: #fff !important;
        fill: #fff !important;
        cursor: pointer;

    //     &:nth-child(1) {  }
    //     &:nth-child(2) {  }
    //     &:nth-child(3) {  }
    }
}

.contact {
    background: $dark;
    padding: calc(4 * #{$topOrBottom}) $leftOrRight calc(2 * #{$topOrBottom});

    h1 {
        font-size: 4em;
        letter-spacing: 0.05em;
        font-weight: 400;
        padding-bottom: $topOrBottom;

        @media only screen and (max-width: $MOBILE) { 
            font-size: 2.8em;
        }
    }

    .contact-inner {

        display: flex;
        flex-direction: row;
        @media only screen and (max-width: $MOBILE) { 
            flex-direction: column;
        }

        .subsection {

            width: 100%;
            padding: 0 5pt;

            &:nth-of-type(1) {
                margin-left: -5pt;
            }
            &:nth-of-type(2) {
                margin-right: -5pt;
            }
            
            @media only screen and (max-width: $MOBILE) {
                padding: 10pt 0;
            }

            p {
                font-size: 1em;
                letter-spacing: 0.05em;
                font-weight: 300;
            }

            &.forbes {
                a {
                    font-weight: 300;
                }
                @media only screen and (min-width: $MOBILE) { 
                    text-align: right;
                }
            }

            form {

                display: flex;
                flex-direction: column;
                padding: 20pt 0;

                input,
                textarea,
                button {
                    width: 100%;
                    padding: 5pt 0;
                    margin: 5pt 0;
                    background: none;
                    border: none;
                    outline: none;
                    font-size: 1.1em;
                    letter-spacing: 0.05em;
                    font-weight: 300;

                    &::placeholder {
                        font-style: italic;
                        font-weight: 200;
                        color: #fff;
                        opacity: 0.6;
                    }

                    &:focus {
                        outline: none;
                        border-bottom: 1pt solid #fff;
                    }
                }

                button {
                    text-align: left;
                    text-transform: uppercase;
                    font-weight: 400;
                    cursor: pointer;
                    &:focus {
                        outline: none;
                        border-bottom: none;
                        color: #aaa;
                    }
                }

                input:-webkit-autofill,
                input:-webkit-autofill:hover, 
                input:-webkit-autofill:focus {
                    border: none;
                    -webkit-text-fill-color: #fff;
                    -webkit-box-shadow: 0 0 0px 1000px $dark inset;
                }

            }
    
            h2 {
                font-size: 2em;
                letter-spacing: 0.05em;
                font-weight: 400;
                padding-bottom: 10pt;
        
                @media only screen and (max-width: $MOBILE) { 
                    font-size: 1.8em;
                }
            }
    
            div#forbes {
                
                background: #fff;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10pt 20pt;
                margin-top: 20pt;
                position: relative;
    
                @media only screen and (max-width: 500px) {
                    flex-wrap: wrap;
                }
    
                .image {
                    width: 100%;
                    min-height: 100pt;
                    height: 100%;
                    position: relative;
                }
    
                ul {
                    width: 100%;
                    color: #000;
                    list-style: none;
                    li {
                        color: inherit;
                        text-align: right;
                        padding: 5pt 0;
                        @media only screen and (max-width: 500px) {
                            text-align: center;
                        }
                        a {
                            color: inherit;
                            text-decoration: none;
                        }
                    }
                }
    
            }
    
        }
    }



}

footer {
    padding: 0 $leftOrRight $topOrBottom;
    background: $dark;

    .inner {
        width: 100%;
        border-top: 2px solid #fff;
        padding-top: $topOrBottom;

        p:first-child {
            margin-bottom: 10pt;
        }

        p {
            strong {
                font-weight: 500;
                text-transform: uppercase;
                line-height: 1.5em;
            }
            font-size: 1rem;
            letter-spacing: 0.08rem;
            font-weight: 300;

            a {
                text-decoration: none;

                &:focus,
                &:hover {
                    text-decoration: underline;
                    color: #aaa;
                }
            }
        }
    }
}

button {
    color: #fff;
    background: none;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 0.8em 2.5em;
    font-size: 1em;
    cursor: pointer;

    &:hover, 
    &:focus {
        outline: none;
        background: #fff;
        color: #aaa;
    }
}

@import 'socialMedia';